.gfc-inline-controls {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.gfc-control-help {
	font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
	margin-top: 8px !important;
}

.gfc-panel {
	.components-button + .components-focal-point-picker-control {
		margin-top: 1em;
	}
}

.gfc-components-base-control {
	margin-bottom: 24px;
	.components-base-control {
		margin-bottom: 0;
	}
}
